* {
    margin: 0;
    padding: 0;
}
.bg{
    height: 100vh;
    background-size: contain;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg2{
    display: flex;
    justify-content: left ;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
}
.addfrd{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 449px;
    height: 100vh;
    background-color: rgba(199, 249, 204, 0.7);
}
.search{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 403px;
    height: 63px;
    border-radius: 33px;
    background-color: white;
    border: #e5e4e2 2px solid;
}
.search input{
    padding-left: 10px;
    width:100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 33px;
    color: #22577A;
    font-size: 22px;
}
.search input::placeholder{
    color: #e5e4e2;
    font-size: 22px;
}
.search img{
    width: 41px;
    height: 41px;
    padding-right: 40px;
}
.usersearch{
    margin-top: 47px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 63px;
    outline: none;
    background-color: white;
    border: #e5e4e2 3px solid;
    cursor: pointer;
}
.usersearch img{
    width: 41px;
    height: 41px;
}
.usersearch p{
    color: #57CC99;
    font-size: 22px;
}

.searchprof{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 841px;
    color: #22577A;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 60px;
    padding-bottom: 15px;
}
.img img{
    width: 240px;
    height: 240px;
    padding-right: 20px;
}
.img p{
    font-size: 40px;
}
.usename{
    font-size: 20px;
    padding-bottom: 20px;
}
.ab{
    font-size: 24px;
    padding-bottom: 30px;
}
.about{
    font-size: 24px;
    text-align: center;
    width: 392px;
}
.buttons{
    width: 100%;
    padding-bottom: 100px;
}
.buttons form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
form button{
    width: 245px;
    height: 63px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #22577A;
    color: white;
    outline: none;
    border: none;
    border-radius: 22px;
    font-size: 22px;
}
form button p{
    padding-right: 20px;
}
form button img{
    width: 41px;
    height: 41px;
    padding-left: 20px;
}