* {
    margin: 0;
    padding: 0;
}
.bg{
    height: 100vh;
    background-size: contain;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg2{
    display: flex;
    justify-content: left ;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
}
.chat{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.head{
    width: 100%;
    height: 63px;
    background-color: #57CC99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head img{
    width: 41px;
    height: 41px;
    padding-left: 20px;
}
.head p{
    font-size: 20px;
    color: white;
    font-family: "McLaren","sans-serif";    
}
.bar{
    width: 905px;
    height: 63px;
    background-color: white;
    border: #e5e4e2 3px solid;
    border-radius: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.bar img{
    width: 41px;
    height: 41px;
    padding-left: 15px;
}
#barimg{
    padding-right: 15px;
}
.bar button{
    border: none;
    background: none;
}
.bar input{
    padding-left: 15px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.bar input::placeholder{
    font-size: 20px;
    color: #e5e4e2;
    font-family: "McLaren","sans-serif";
}